{% extends "base.html" %}
{% block body %}
<div class="row app">
 
        
    
    <div class="span6">
        <h1>Kippt widget for WordPress</h1>
        <p class="lead">Created by kekeblom</p>
    </div>
</div>
<hr>
<div class="row app">    
    
    <div class="span5">
        <p>Kippt is a social bookmarking service to easily share and save things you find on the web so you and your friends can come back to them later. This widget lets you easily show your visitors on your wordpress site all the cool stuff you find on the internet, without even having to think about it. It either displays all your public lists on Kippt, the most recent items you have added to Kippt or clips from a certain list.</p>
        
        
    </div> 

    <div class="span3">
    <table>
        
        <tr>
            <th>Developer</th>
            <td>kekeblom</td>
        </tr>
        
        
        <tr>
            <th>Platform</th>
            <td>Other</td>
        </tr>
        
        
        
        <tr>
            <th>Added</th>
            <td>April 5. 2013</td>
        </tr>
        
        
        
        <tr>
            <td colspan="2"><a href="http://wordpress.org/extend/plugins/kippt-widget/" class="btn">Get the App</a></td>
        </tr>
    </table>
    </div>
</div>


{% endblock %}