{% extends "base.html" %}
{% block body %}
<div class="row app">
 
    <div class="span2 icon">
        
    </div>
    
    <div class="span6">
        <h1>BrianMedia / Kipptr</h1>
        <p class="lead">Created by BrianMedia</p>
    </div>
</div>
<hr>
<div class="row app">    
    
    <div class="span5">
        <h2>Kipptr</h2>
<p>Kipptr is a PHP library that makes working with the API of kippt.com a breeze.</p>
<h2>What can I do with Kipptr ?</h2>
<ul>
<li>Create, read, update and delete your clips and lists</li>
<li>Search clips</li>
<li>Verify your account credentials</li>
</ul>
<h2>Requirements</h2>
<ul>
<li>PHP 5.3.x or higher</li>
<li>cURL</li>
<li>Kippt.com username and api token</li>
</ul>
<h2>Issues/Bugs</h2>
<p>Please report any bugs at https://github.com/BrianMedia/Kipptr/issues/</p>
<h2>Feature Requests</h2>
<p>If you want something to add on this library, feel free to fork the project on <a href="https://github.com/BrianMedia/Kipptr">github</a> or add an <a href="https://github.com/BrianMedia/Kipptr/issues/">issue</a> as a feature request.</p>
<h2>License</h2>
<p>Released under the Unlicense. See UNLICENSE for further information.</p>
        
        
    </div> 

    <div class="span3">
    <table>
        
        <tr>
            <th>Developer</th>
            <td>BrianMedia</td>
        </tr>
        
        
        <tr>
            <th>Platform</th>
            <td>Library</td>
        </tr>
        
        
        
        <tr>
            <th>Added</th>
            <td>April 5. 2013</td>
        </tr>
        
        
        
        <tr>
            <td colspan="2"><a href="https://github.com/BrianMedia/Kipptr" class="btn">Get the App</a></td>
        </tr>
    </table>
    </div>
</div>

{% endblock %}