{% extends "base.html" %}
{% block body %}
<div class="row app">
 
    <div class="span2 icon">
        
    </div>
    
    <div class="span6">
        <h1>Kippt.NET</h1>
        <p class="lead">Created by Haythem Tlili</p>
    </div>
</div>
<hr>
<div class="row app">    
    
    <div class="span5">
        <p>Kippt.NET is a .NET library for interacting with Kippt's API.</p>
        
        
    </div> 

    <div class="span3">
    <table>
        
        <tr>
            <th>Developer</th>
            <td>Haythem Tlili</td>
        </tr>
        
        
        <tr>
            <th>Platform</th>
            <td>Library</td>
        </tr>
        
        
        
        <tr>
            <th>Added</th>
            <td>April 5. 2013</td>
        </tr>
        
        
        <tr>
            <th>Website</th>
            <td><a href="http://haythem.github.io/Kippt.NET/" target="_blank">Visit</a></td>
        </tr>
        
        
        <tr>
            <td colspan="2"><a href="http://haythem.github.io/Kippt.NET/" class="btn">Get the App</a></td>
        </tr>
    </table>
    </div>
</div>

{% endblock %}