{% extends "base.html" %}
{% block body %}
<div class="row app">
 
        
    
    <div class="span6">
        <h1>jkippt</h1>
        <p class="lead">Created by Federico De Faveri</p>
    </div>
</div>
<hr>
<div class="row app">    
    
    <div class="span5">
        <p>A Java library for the Kippt.com API (https://kippt.com/developers/). The library offers an easy way to access the Kippt API.</p>
<p>Key Features:</p>
<ul>
<li>All the API endpoints are mapped to a Java method</li>
<li>Results pagination is hide through a Java iterator</li>
<li>Advanced search query construction using builders</li>
</ul>
        
        
    </div> 

    <div class="span3">
    <table>
        
        <tr>
            <th>Developer</th>
            <td>Federico De Faveri</td>
        </tr>
        
        
        <tr>
            <th>Platform</th>
            <td>Library</td>
        </tr>
        
        
        
        <tr>
            <th>Added</th>
            <td>April 5. 2013</td>
        </tr>
        
        
        
        <tr>
            <td colspan="2"><a href="https://code.google.com/p/jkippt/" class="btn">Get the App</a></td>
        </tr>
    </table>
    </div>
</div>


{% endblock %}