{% extends "base.html" %}
{% block body %}
<div class="row app">
 
        
        <div class="span2 icon">
            <img src="/static/apps/defer/logo.png">
        </div>
        
    
    <div class="span6">
        <h1>Defer</h1>
        <p class="lead">Created by Edgar J. Suarez</p>
    </div>
</div>
<hr>
<div class="row app">    
    
    <div class="span5">
        <p>Defer is a Google Chrome extension to save your links to any of the most popular services for reading later: Instapaper, Readability, Pocket, and Kippt.</p>
        
        
        <h2>Screenshots</h2>
        <ul class="screenshots">
            
            <li><img src="/static/apps/defer/big-popup.png"></li>
            
            <li><img src="/static/apps/defer/classic-popup.png"></li>
            
            <li><img src="/static/apps/defer/options.png"></li>
            
        </ul>
        
    </div> 

    <div class="span3">
    <table>
        
        <tr>
            <th>Developer</th>
            <td>Edgar J. Suarez</td>
        </tr>
        
        
        <tr>
            <th>Platform</th>
            <td>Web</td>
        </tr>
        
        
        <tr>
            <th>Price</th>
            <td>Free</td>
        </tr>
        
        
        <tr>
            <th>Added</th>
            <td>April 20. 2013</td>
        </tr>
        
        
        <tr>
            <th>Website</th>
            <td><a href="http://www.getdefer.com" target="_blank">Visit</a></td>
        </tr>
        
        
        <tr>
            <td colspan="2"><a href="http://www.getdefer.com" class="btn">Get the App</a></td>
        </tr>
    </table>
    </div>
</div>


<div id="slider-wrapper" style="display:none">  
    <a href class="close">&times;</a>   
    <div id="slider-inner"></div>
</div>

{% endblock %}