{% extends "base.html" %}
{% block body %}
<div class="row app">
 
        
        <div class="span2 icon">
            <img src="/static/apps/comfortable/logo.png">
        </div>
        
    
    <div class="span6">
        <h1>Comfortable</h1>
        <p class="lead">Created by Daniela Petrova</p>
    </div>
</div>
<hr>
<div class="row app">    
    
    <div class="span5">
        <p>Comfortable is an awesome reading app, and with all these amazing features you are going to put it on top of your list.</p>
<p>It works with Google Reader, Readability and there is also standalone subscription management</p>
        
        
    </div> 

    <div class="span3">
    <table>
        
        <tr>
            <th>Developer</th>
            <td>Daniela Petrova</td>
        </tr>
        
        
        <tr>
            <th>Platform</th>
            <td>iOS</td>
        </tr>
        
        
        <tr>
            <th>Price</th>
            <td>Free</td>
        </tr>
        
        
        <tr>
            <th>Added</th>
            <td>April 5. 2013</td>
        </tr>
        
        
        <tr>
            <th>Website</th>
            <td><a href="http://comfortableapp.com/" target="_blank">Visit</a></td>
        </tr>
        
        
        <tr>
            <th>Twitter</th>
            <td><a href="http://twitter.com/@ComfortableApp" target="_blank">@ComfortableApp</a></td>
        </tr>
        
        <tr>
            <td colspan="2"><a href="https://itunes.apple.com/us/app/comfortable/id588930446" class="btn">Get the App</a></td>
        </tr>
    </table>
    </div>
</div>


{% endblock %}