{% extends "base.html" %}
{% block body %}
<div class="row app">
 
        
    
    <div class="span6">
        <h1>Kippt-Python-Wrapper</h1>
        <p class="lead">Created by Thomas (TJ) Biddle</p>
    </div>
</div>
<hr>
<div class="row app">    
    
    <div class="span5">
        <h1>Python Wrapper for Kippt</h1>
<p>This is a Python wrapper for <a href="https://kippt.com/developers">Kippt's API</a>. It has all of the features of the <a href="http://haythem.github.com/Kippt.NET/">C# library</a>, plus some extras - and is still in development.</p>
        
        
    </div> 

    <div class="span3">
    <table>
        
        <tr>
            <th>Developer</th>
            <td>Thomas (TJ) Biddle</td>
        </tr>
        
        
        <tr>
            <th>Platform</th>
            <td>Library</td>
        </tr>
        
        
        
        <tr>
            <th>Added</th>
            <td>April 5. 2013</td>
        </tr>
        
        
        
        <tr>
            <td colspan="2"><a href="https://github.com/thomasbiddle/Kippt-Python-Wrapper" class="btn">Get the App</a></td>
        </tr>
    </table>
    </div>
</div>


{% endblock %}