{% extends "base.html" %}
{% block body %}
<div class="row app">
 
        
        <div class="span2 icon">
            <img src="/static/apps/klipit/logo.png">
        </div>
        
    
    <div class="span6">
        <h1>KlipIt</h1>
        <p class="lead">Created by Fourmob</p>
    </div>
</div>
<hr>
<div class="row app">    
    
    <div class="span5">
        <p>KlipIt is a new and modern client for Kiptt.com.</p>
<ul>
<li>Easily add web pages to your Kippt account from your Android device. </li>
<li>Browse your lists, organize them, read articles and follow your Feed all of this directly in the application. </li>
<li>Articles are saved on the device and so can be read offline. And after reading an interesting article, add it to your Favorites and share it with your friends</li>
<li>With its intuitive interface, KlipIt lets you manage all your clips both on your phone and your tablet.</li>
</ul>
        
        
        <h2>Screenshots</h2>
        <ul class="screenshots">
            
            <li><img src="/static/apps/klipit/list.png"></li>
            
            <li><img src="/static/apps/klipit/lists.png"></li>
            
            <li><img src="/static/apps/klipit/read.png"></li>
            
        </ul>
        
    </div> 

    <div class="span3">
    <table>
        
        <tr>
            <th>Developer</th>
            <td>Fourmob</td>
        </tr>
        
        
        <tr>
            <th>Platform</th>
            <td>Android</td>
        </tr>
        
        
        <tr>
            <th>Price</th>
            <td>Free</td>
        </tr>
        
        
        <tr>
            <th>Added</th>
            <td>July 3. 2013</td>
        </tr>
        
        
        
        <tr>
            <td colspan="2"><a href="https://play.google.com/store/apps/details?id=com.fourmob.klipit" class="btn">Get the App</a></td>
        </tr>
    </table>
    </div>
</div>


<div id="slider-wrapper" style="display:none">  
    <a href class="close">&times;</a>   
    <div id="slider-inner"></div>
</div>

{% endblock %}