{% extends "base.html" %}
{% block body %}
<div class="row app">
 
        
    
    <div class="span6">
        <h1>node-kippt</h1>
        <p class="lead">Created by dph</p>
    </div>
</div>
<hr>
<div class="row app">    
    
    <div class="span5">
        <h1>node-kippt</h1>
<p>A wrapper for the <a href="http://kippt.com">Kippt</a> API.</p>
<h2>Installation</h2>
<p>You can install using Node Package Manager (npm)
<code>npm install node-kippt</code>
Or define in your <code>package.json</code> dependencies</p>
        
        
    </div> 

    <div class="span3">
    <table>
        
        <tr>
            <th>Developer</th>
            <td>dph</td>
        </tr>
        
        
        <tr>
            <th>Platform</th>
            <td>Library</td>
        </tr>
        
        
        
        <tr>
            <th>Added</th>
            <td>April 5. 2013</td>
        </tr>
        
        
        
        <tr>
            <td colspan="2"><a href="https://github.com/enotionz/node-kippt" class="btn">Get the App</a></td>
        </tr>
    </table>
    </div>
</div>


{% endblock %}