{% extends "base.html" %}
{% block body %}
<div class="row app">
 
        
        <div class="span2 icon">
            <img src="/static/apps/klippr/logo.jpg">
        </div>
        
    
    <div class="span6">
        <h1>Klippr</h1>
        <p class="lead">Created by Martin Borho</p>
    </div>
</div>
<hr>
<div class="row app">    
    
    <div class="span5">
        <p>A Meego client for Kippt.com.
for the Nokia N9 and the N950.</p>
        
        
    </div> 

    <div class="span3">
    <table>
        
        <tr>
            <th>Developer</th>
            <td>Martin Borho</td>
        </tr>
        
        
        <tr>
            <th>Platform</th>
            <td>Other</td>
        </tr>
        
        
        <tr>
            <th>Price</th>
            <td>Free</td>
        </tr>
        
        
        <tr>
            <th>Added</th>
            <td>April 5. 2013</td>
        </tr>
        
        
        <tr>
            <th>Website</th>
            <td><a href="http://mborho.github.io/klippr/" target="_blank">Visit</a></td>
        </tr>
        
        
        <tr>
            <td colspan="2"><a href="http://store.ovi.com/content/317057" class="btn">Get the App</a></td>
        </tr>
    </table>
    </div>
</div>


{% endblock %}