{% extends "base.html" %}
{% block body %}
<div class="row app">
 
        
        <div class="span2 icon">
            <img src="/static/apps/feedleap/logo.png">
        </div>
        
    
    <div class="span6">
        <h1>FeedLeap</h1>
        <p class="lead">Created by José Padilla</p>
    </div>
</div>
<hr>
<div class="row app">    
    
    <div class="span5">
        <p>FeedLeap(RSS feeds that leap into Kippt) lets you subscribe to your favorite RSS feeds and store new entries as Clips in any Kippt List you want. Clips are stored with a url, title, and a summary.</p>
        
        
        <h2>Screenshots</h2>
        <ul class="screenshots">
            
            <li><img src="/static/apps/feedleap/add_feed.png"></li>
            
            <li><img src="/static/apps/feedleap/connect.png"></li>
            
            <li><img src="/static/apps/feedleap/feeds.png"></li>
            
        </ul>
        
    </div> 

    <div class="span3">
    <table>
        
        <tr>
            <th>Developer</th>
            <td>José Padilla</td>
        </tr>
        
        
        <tr>
            <th>Platform</th>
            <td>Web</td>
        </tr>
        
        
        
        <tr>
            <th>Added</th>
            <td>April 5. 2013</td>
        </tr>
        
        
        
        <tr>
            <th>Twitter</th>
            <td><a href="http://twitter.com/@jpadilla_" target="_blank">@jpadilla_</a></td>
        </tr>
        
        <tr>
            <td colspan="2"><a href="http://feedleap.com" class="btn">Get the App</a></td>
        </tr>
    </table>
    </div>
</div>


<div id="slider-wrapper" style="display:none">  
    <a href class="close">&times;</a>   
    <div id="slider-inner"></div>
</div>

{% endblock %}