{% extends "base.html" %}
{% block body %}
<div class="row app">
 
        
        <div class="span2 icon">
            <img src="/static/apps/kippster/logo.png">
        </div>
        
    
    <div class="span6">
        <h1>Kippster</h1>
        <p class="lead">Created by Alex Robinson</p>
    </div>
</div>
<hr>
<div class="row app">    
    
    <div class="span5">
        <h1>Kippster</h1>
<p>Kippster makes Kippt awesome on your iPhone and iPad.</p>
<ul>
<li>Browse your feed</li>
<li>Like, comment, favorite, and resave</li>
<li>Manage your collections</li>
<li>Save links</li>
<li>Read articles in full screen</li>
<li>Share links to a heap of other apps and services.</li>
<li><code>x-callback-url</code> support. <a href="http://kippster.net/url-schemes/">Read more Kippster's URL Schemes</a>.</li>
</ul>
        
        
        <h2>Screenshots</h2>
        <ul class="screenshots">
            
            <li><img src="/static/apps/kippster/article.png"></li>
            
            <li><img src="/static/apps/kippster/feed.png"></li>
            
            <li><img src="/static/apps/kippster/menu.png"></li>
            
        </ul>
        
    </div> 

    <div class="span3">
    <table>
        
        <tr>
            <th>Developer</th>
            <td>Alex Robinson</td>
        </tr>
        
        
        <tr>
            <th>Platform</th>
            <td>iOS</td>
        </tr>
        
        
        
        <tr>
            <th>Added</th>
            <td>April 6. 2013</td>
        </tr>
        
        
        <tr>
            <th>Website</th>
            <td><a href="http://kippster.net/" target="_blank">Visit</a></td>
        </tr>
        
        
        <tr>
            <th>Twitter</th>
            <td><a href="http://twitter.com/kippsterapp" target="_blank">kippsterapp</a></td>
        </tr>
        
        <tr>
            <td colspan="2"><a href="http://appstore.com/kippsterforkippt" class="btn">Get the App</a></td>
        </tr>
    </table>
    </div>
</div>


<div id="slider-wrapper" style="display:none">  
    <a href class="close">&times;</a>   
    <div id="slider-inner"></div>
</div>

{% endblock %}