body {
    background: #fff;
    color: #434950;
    font-family:'proxima-nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4 {
    font-weight:normal;
    color:#3e4248;
    margin-top:1.5em;
    font-family:'proxima-nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
    font-size:32px;
    margin-bottom:0.8em;
}

h2 {
    font-size:24px;
}

h3 {
    font-size:20px;
}

.content h1, .content h2 {
    font-weight:300;
}


p, li {
    font-size:1.1em;
    line-height:1.4;
    color: #434950;
    font-family:'proxima-nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-bottom:1.5em;
}

.lead {
    font-size:1.3;
    color:#999;
}

hr {
    margin:60px 0;
}

a {
    color:#111;
}

a:hover {
    text-decoration:none;
    color:#777;
}


/* NAV */

.nav {
    color:#fff;
    background:#10151a;
    padding:30px 0 0;
    min-height:52px;
}

.nav a {
    color:#fff !important;
}

.nav a.back {
    float:right;
    text-transform:uppercase;
    letter-spacing:1px;
    line-height:1.5;
}

/*
.nav .header {
    padding:120px 0;
    text-align:center;
    text-transform:uppercase;
    background:url(bg-header.jpg) center bottom no-repeat;
    display:none;
}
*/

.nav .header {
    padding:80px 0 0;
    text-align:center;
    text-transform:uppercase;
    background:#32ae95;
    display:none;
    height:260px;
}

.nav .header h1 {
    font-size:62px;
    letter-spacing:0.2em;
    color:#fff;
    margin:0;
    background:url(developer.png) center top no-repeat transparent;
    background-size:50px;
    padding-top:80px;
    font-weight:600;
    text-shadow: -5px 5px 0 rgba(0,0,0,0.1);
}

.nav .header p {
    letter-spacing:0.5em;
    margin-top:20px;
    font-size:12px;
    color:#eee;
}

/* show header when home */
body.home .nav .header {
    display:block;
}

.nav {
    background:#32ae95;
}

/* CONTENT */

.side, .content {
    padding:60px 0;
}


.content h1:first-child {
    margin-top:0;
}

ul.docs {
    list-style:none;
    margin-top:40px;
}

a.api {
    background:url(api.png) left top no-repeat;
    padding-left:60px;
    background-size:36px;
    display:block;
}

a.code {
    background:url(code.png) left top no-repeat;
    padding-left:60px;
    background-size:36px;
    display:block;
}

ul.apps {
    list-style:none;
}

ul.apps li {
    height:200px;
    margin-top:20px;
}

.apps li .icon {
    height:140px;
    overflow:hidden;
    margin-bottom:10px;
}

.apps li .icon img {
    margin-top:-60px;
}

.apps li strong {
}

.apps li span {
    color:#777;
    font-size:0.8em;
}

.apps li p {
    max-width:256px;
    line-height:1.2;
}

.apps-gallery h1 {
    margin-bottom:0.2em;
}

/* SIDE */

.side {
    box-shadow:-1px 0 0 #eee inset;
}

.side ul {
    margin:0 0 0 0;
}

.side li {
    list-style:none;
    text-align:right;
    margin:0 0 1.5em 0;
}

.side li a {
    font-size:18px;
    color:#111;
    padding:0.5em 1em;
}

.side li h5 {
    margin-right:2em;
}

.side li a:hover {
    background:#eee;
}

.side li a:after {
    content:" ›";
    color:#aaa;
}

body.apps-gallery .n-apps a,
body.home .n-home a {
    background:#eee;    
}


/* FOOTER */

.footer {
    background:#fff;
    padding:30px 0;
    text-align:center;
    color:#ccc;
    border-top:1px solid #eee;
    font-size:0.9em;
}

.footer a {
    margin:10px;
    display:inline-block;
    color:#999;
}

.footer p {
    margin:0;
}

/* APP PAGE */

.app h1 {
    margin-bottom:0;
}
.app table tr:last-child td {
    text-align:center;
}

.app table td, .app table th {
    padding:0 0.5em 1em;
}

.app table th {
    text-align:right;
}
.app table td {
    text-align:left;
}

.icon img {
    margin-bottom:20px;
}

hr {
    margin:20px 0;
}

.byline {
    color:#777;
}
 
.app table tr:last-child .btn {
    text-align:center;
    width:80%;
    margin:20px;
}

.screenshots {
    margin:20px 0;
}

.screenshots li {
    list-style-type:none;
    width:80px;
    height:80px;
    background:#eee;
    float:left;
    margin-right:10px;
}


/* BUTTONS */

.btn {
    border:0;
    border-radius:2px;
    padding: 0.9em 1.8em 0.8em;
    box-shadow:none;
    background:rgb(78, 85, 99);
    color:#fff;
    text-transform:uppercase;
    margin-right:10px;
    text-shadow:none;
    font-size: 13px;
    line-height: 1;
    font-weight: bold;
    -webkit-transition:0.1s ease-in background-color;
    -webkit-font-smoothing:antialiased;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}


.btn:hover {
    border:0;
    box-shadow:none;
    color:#fff;
    background:#111;
    -webkit-transition:0.1s ease-in background-color;
} 


.btn.btn-primary {
    background:#db3c14;
}

.btn.btn-primary:hover {
    background:#ec4f11;
    color:#fff;
}

  
.btn.btn-secondary {
    background:#ccc;
    color:#fff;
} 

.btn.btn-secondary:hover {
    background:#aaa;
    color:#fff;
}


/* RESPONSIVE */ 


@media (max-width: 460px) {
    .nav .header {
        padding:60px 0;
        background-size:auto 130%;
    }
    
    .side, .content {
        padding:30px 0;
    }
    
    hr {
        margin:20px 0;
    }
    
    .nav .header h1 {
        font-size:36px;
    }
    
    .nav .header p {
        letter-spacing:0.1em;
    }

}

@media (max-width: 767px) {
    body {
        padding:0;
    }
    
    .container, .nav {
        padding-left:20px;
        padding-right:20px;
    }
    
    .side li {
        text-align:left;
    }

}
