{% extends "base.html" %}
{% block body %}
<div class="row app">
 
        
    
    <div class="span6">
        <h1>Kippt TCL plugin for Eggdrop</h1>
        <p class="lead">Created by JaTu</p>
    </div>
</div>
<hr>
<div class="row app">    
    
    <div class="span5">
        <p>Kippt is a link sharing site. People using IRC typically have an Eggdrop bot on their channel. With this TCL-script the bot can be used to post links presented in an IRC-channel to the Kippt service.</p>
        
        
    </div> 

    <div class="span3">
    <table>
        
        <tr>
            <th>Developer</th>
            <td>JaTu</td>
        </tr>
        
        
        <tr>
            <th>Platform</th>
            <td>Other</td>
        </tr>
        
        
        
        <tr>
            <th>Added</th>
            <td>April 5. 2013</td>
        </tr>
        
        
        
        <tr>
            <td colspan="2"><a href="http://opensource.hqcodeshop.com/eggdrop/kippt/" class="btn">Get the App</a></td>
        </tr>
    </table>
    </div>
</div>


{% endblock %}