{% extends "base.html" %}
{% block bodyclass %}apps-gallery{% endblock %}
{% block body %}<h1>Apps Gallery</h1>
<p class="lead">This is where you’ll find a whole library of apps to boost your Kippt experience. <a href="https://github.com/kippt/developers.kippt.com#contribute-3rd-party-apps" target="_blank">Submit your own app.</a></p>

<ul class="row apps">
    
    <li class="span4">
        <a href="/apps/brianmedia-kipptr">
            <div class="icon">
                
                <img src="/static/default-logo.png">
                
            </div>
            <p>
                <strong>BrianMedia / Kipptr</strong>, <span>Library</span><br>
                <span>By BrianMedia</span>
            <p>
        </a>
    </li>
    
    <li class="span4">
        <a href="/apps/clipapp">
            <div class="icon">
                
                <img src="/static/default-logo.png">
                
            </div>
            <p>
                <strong>clipApp</strong>, <span>Desktop</span><br>
                <span>By MadeBy</span>
            <p>
        </a>
    </li>
    
    <li class="span4">
        <a href="/apps/comfortable">
            <div class="icon">
                
                <img src="/static/default-logo.png">
                
            </div>
            <p>
                <strong>Comfortable</strong>, <span>iOS</span><br>
                <span>By Daniela Petrova</span>
            <p>
        </a>
    </li>
    
    <li class="span4">
        <a href="/apps/feedleap">
            <div class="icon">
                
                <img src="/static/apps/feedleap/logo.png">
                
            </div>
            <p>
                <strong>FeedLeap</strong>, <span>Web</span><br>
                <span>By José Padilla</span>
            <p>
        </a>
    </li>
    
    <li class="span4">
        <a href="/apps/jkippt">
            <div class="icon">
                
                <img src="/static/default-logo.png">
                
            </div>
            <p>
                <strong>jkippt</strong>, <span>Library</span><br>
                <span>By Federico De Faveri</span>
            <p>
        </a>
    </li>
    
    <li class="span4">
        <a href="/apps/keep">
            <div class="icon">
                
                <img src="/static/default-logo.png">
                
            </div>
            <p>
                <strong>Keep</strong>, <span>iOS</span><br>
                <span>By Longoria Bros.</span>
            <p>
        </a>
    </li>
    
    <li class="span4">
        <a href="/apps/keep-it">
            <div class="icon">
                
                <img src="/static/default-logo.png">
                
            </div>
            <p>
                <strong>Keep-it</strong>, <span>Android</span><br>
                <span>By Eric Taix</span>
            <p>
        </a>
    </li>
    
    <li class="span4">
        <a href="/apps/keep-it-windows-phone">
            <div class="icon">
                
                <img src="/static/default-logo.png">
                
            </div>
            <p>
                <strong>Keep It (Windows Phone)</strong>, <span>Windows Phone</span><br>
                <span>By Haythem Tlili</span>
            <p>
        </a>
    </li>
    
    <li class="span4">
        <a href="/apps/kippt-python-wrapper">
            <div class="icon">
                
                <img src="/static/default-logo.png">
                
            </div>
            <p>
                <strong>Kippt-Python-Wrapper</strong>, <span>Library</span><br>
                <span>By Thomas (TJ) Biddle</span>
            <p>
        </a>
    </li>
    
    <li class="span4">
        <a href="/apps/kippt-tcl-plugin-for-eggdrop">
            <div class="icon">
                
                <img src="/static/default-logo.png">
                
            </div>
            <p>
                <strong>Kippt TCL plugin for Eggdrop</strong>, <span>Other</span><br>
                <span>By JaTu</span>
            <p>
        </a>
    </li>
    
    <li class="span4">
        <a href="/apps/kippt-tools">
            <div class="icon">
                
                <img src="/static/default-logo.png">
                
            </div>
            <p>
                <strong>kippt-tools</strong>, <span>Other</span><br>
                <span>By Mario Rimann</span>
            <p>
        </a>
    </li>
    
    <li class="span4">
        <a href="/apps/kippt-widget-for-wordpress">
            <div class="icon">
                
                <img src="/static/default-logo.png">
                
            </div>
            <p>
                <strong>Kippt widget for WordPress</strong>, <span>Other</span><br>
                <span>By kekeblom</span>
            <p>
        </a>
    </li>
    
    <li class="span4">
        <a href="/apps/kipptnet">
            <div class="icon">
                
                <img src="/static/default-logo.png">
                
            </div>
            <p>
                <strong>Kippt.NET</strong>, <span>Library</span><br>
                <span>By Haythem Tlili</span>
            <p>
        </a>
    </li>
    
    <li class="span4">
        <a href="/apps/klippr">
            <div class="icon">
                
                <img src="/static/default-logo.png">
                
            </div>
            <p>
                <strong>Klippr</strong>, <span>Other</span><br>
                <span>By Martin Borho</span>
            <p>
        </a>
    </li>
    
    <li class="span4">
        <a href="/apps/lbckipptkit">
            <div class="icon">
                
                <img src="/static/default-logo.png">
                
            </div>
            <p>
                <strong>LBCKipptKit</strong>, <span>Library</span><br>
                <span>By longoria</span>
            <p>
        </a>
    </li>
    
    <li class="span4">
        <a href="/apps/node-kippt">
            <div class="icon">
                
                <img src="/static/default-logo.png">
                
            </div>
            <p>
                <strong>node-kippt</strong>, <span>Library</span><br>
                <span>By dph</span>
            <p>
        </a>
    </li>
    
    <li class="span4">
        <a href="/apps/omniauth-kippt">
            <div class="icon">
                
                <img src="/static/default-logo.png">
                
            </div>
            <p>
                <strong>omniauth-kippt</strong>, <span>Library</span><br>
                <span>By Greg Leppert</span>
            <p>
        </a>
    </li>
    
    <li class="span4">
        <a href="/apps/pocket">
            <div class="icon">
                
                <img src="/static/default-logo.png">
                
            </div>
            <p>
                <strong>Pocket</strong>, <span>iOS</span><br>
                <span>By Pocket</span>
            <p>
        </a>
    </li>
    
    <li class="span4">
        <a href="/apps/thomasbiddle-kippt-bookmark-importer">
            <div class="icon">
                
                <img src="/static/default-logo.png">
                
            </div>
            <p>
                <strong>thomasbiddle / Kippt-Bookmark-Importer</strong>, <span>Library</span><br>
                <span>By Thomas (TJ) Biddle</span>
            <p>
        </a>
    </li>
    
    <li class="span4">
        <a href="/apps/vesan-kippt">
            <div class="icon">
                
                <img src="/static/default-logo.png">
                
            </div>
            <p>
                <strong>vesan / kippt</strong>, <span>Library</span><br>
                <span>By Vesa Vänskä</span>
            <p>
        </a>
    </li>
    
</ul>
{% endblock %}