{% extends "base.html" %}
{% block bodyclass %}apps-gallery{% endblock %}
{% block body %}<h1>Apps Gallery</h1>
<p class="lead">This is where you’ll find a whole library of apps to make your Kippt experience better. <a href="https://github.com/kippt/developers.kippt.com#contribute-3rd-party-apps" target="_blank">Submit your own app.</a></p>


<h2>Apps</h2>

<ul class="row apps">
    
    <li class="span4">
        <a href="/apps/clipapp">
            <div class="icon">
                
                <img src="/static/apps/clipapp/clipapp_logo.png">
                
            </div>
            <p>
                <strong>clipApp</strong><br>
                <span>By Henning Molbaek &middot; Desktop</span>
            <p>
        </a>
    </li>
    
    <li class="span4">
        <a href="/apps/comfortable">
            <div class="icon">
                
                <img src="/static/apps/comfortable/logo.png">
                
            </div>
            <p>
                <strong>Comfortable</strong><br>
                <span>By Daniela Petrova &middot; iOS</span>
            <p>
        </a>
    </li>
    
    <li class="span4">
        <a href="/apps/feedleap">
            <div class="icon">
                
                <img src="/static/apps/feedleap/logo.png">
                
            </div>
            <p>
                <strong>FeedLeap</strong><br>
                <span>By José Padilla &middot; Web</span>
            <p>
        </a>
    </li>
    
    <li class="span4">
        <a href="/apps/keep">
            <div class="icon">
                
                <img src="/static/apps/keep/logo.jpg">
                
            </div>
            <p>
                <strong>Keep</strong><br>
                <span>By Longoria Bros. &middot; iOS</span>
            <p>
        </a>
    </li>
    
    <li class="span4">
        <a href="/apps/keep-it">
            <div class="icon">
                
                <img src="/static/apps/keep-it/logo.jpg">
                
            </div>
            <p>
                <strong>Keep-it</strong><br>
                <span>By Eric Taix &middot; Android</span>
            <p>
        </a>
    </li>
    
    <li class="span4">
        <a href="/apps/keep-it-windows-phone">
            <div class="icon">
                
                <img src="/static/apps/keep-it-windows-phone/logo.png">
                
            </div>
            <p>
                <strong>Keep It (Windows Phone)</strong><br>
                <span>By Haythem Tlili &middot; Windows Phone</span>
            <p>
        </a>
    </li>
    
    <li class="span4">
        <a href="/apps/kippster">
            <div class="icon">
                
                <img src="/static/apps/kippster/logo.png">
                
            </div>
            <p>
                <strong>Kippster</strong><br>
                <span>By Alex Robinson &middot; iOS</span>
            <p>
        </a>
    </li>
    
    <li class="span4">
        <a href="/apps/kippt-tcl-plugin-for-eggdrop">
            <div class="icon">
                
                <img src="/static/img/default-logo.png">
                
            </div>
            <p>
                <strong>Kippt TCL plugin for Eggdrop</strong><br>
                <span>By JaTu &middot; Other</span>
            <p>
        </a>
    </li>
    
    <li class="span4">
        <a href="/apps/kippt-tools">
            <div class="icon">
                
                <img src="/static/img/default-logo.png">
                
            </div>
            <p>
                <strong>kippt-tools</strong><br>
                <span>By Mario Rimann &middot; Other</span>
            <p>
        </a>
    </li>
    
    <li class="span4">
        <a href="/apps/kippt-widget-for-wordpress">
            <div class="icon">
                
                <img src="/static/img/default-logo.png">
                
            </div>
            <p>
                <strong>Kippt widget for WordPress</strong><br>
                <span>By kekeblom &middot; Other</span>
            <p>
        </a>
    </li>
    
    <li class="span4">
        <a href="/apps/klippr">
            <div class="icon">
                
                <img src="/static/apps/klippr/logo.jpg">
                
            </div>
            <p>
                <strong>Klippr</strong><br>
                <span>By Martin Borho &middot; Other</span>
            <p>
        </a>
    </li>
    
    <li class="span4">
        <a href="/apps/klipps">
            <div class="icon">
                
                <img src="/static/apps/klipps/icon.png">
                
            </div>
            <p>
                <strong>klipps</strong><br>
                <span>By raffael.me &middot; Desktop</span>
            <p>
        </a>
    </li>
    
    <li class="span4">
        <a href="/apps/pocket">
            <div class="icon">
                
                <img src="/static/apps/pocket/logo.png">
                
            </div>
            <p>
                <strong>Pocket</strong><br>
                <span>By Pocket &middot; iOS</span>
            <p>
        </a>
    </li>
    
</ul>

<h2>Libraries</h2>

<ul class="row apps">
    
    <li class="span4">
        <a href="/apps/brianmedia-kipptr">
            <div class="icon">
                
                <img src="/static/img/default-logo.png">
                
            </div>
            <p>
                <strong>BrianMedia / Kipptr</strong><br>
                <span>By BrianMedia &middot; Library</span>
            <p>
        </a>
    </li>
    
    <li class="span4">
        <a href="/apps/jkippt">
            <div class="icon">
                
                <img src="/static/img/default-logo.png">
                
            </div>
            <p>
                <strong>jkippt</strong><br>
                <span>By Federico De Faveri &middot; Library</span>
            <p>
        </a>
    </li>
    
    <li class="span4">
        <a href="/apps/kippt-python-wrapper">
            <div class="icon">
                
                <img src="/static/img/default-logo.png">
                
            </div>
            <p>
                <strong>Kippt-Python-Wrapper</strong><br>
                <span>By Thomas (TJ) Biddle &middot; Library</span>
            <p>
        </a>
    </li>
    
    <li class="span4">
        <a href="/apps/kipptnet">
            <div class="icon">
                
                <img src="/static/img/default-logo.png">
                
            </div>
            <p>
                <strong>Kippt.NET</strong><br>
                <span>By Haythem Tlili &middot; Library</span>
            <p>
        </a>
    </li>
    
    <li class="span4">
        <a href="/apps/lbckipptkit">
            <div class="icon">
                
                <img src="/static/img/default-logo.png">
                
            </div>
            <p>
                <strong>LBCKipptKit</strong><br>
                <span>By longoria &middot; Library</span>
            <p>
        </a>
    </li>
    
    <li class="span4">
        <a href="/apps/node-kippt">
            <div class="icon">
                
                <img src="/static/img/default-logo.png">
                
            </div>
            <p>
                <strong>node-kippt</strong><br>
                <span>By dph &middot; Library</span>
            <p>
        </a>
    </li>
    
    <li class="span4">
        <a href="/apps/omniauth-kippt">
            <div class="icon">
                
                <img src="/static/img/default-logo.png">
                
            </div>
            <p>
                <strong>omniauth-kippt</strong><br>
                <span>By Greg Leppert &middot; Library</span>
            <p>
        </a>
    </li>
    
    <li class="span4">
        <a href="/apps/thomasbiddle-kippt-bookmark-importer">
            <div class="icon">
                
                <img src="/static/img/default-logo.png">
                
            </div>
            <p>
                <strong>thomasbiddle / Kippt-Bookmark-Importer</strong><br>
                <span>By Thomas (TJ) Biddle &middot; Library</span>
            <p>
        </a>
    </li>
    
    <li class="span4">
        <a href="/apps/vesan-kippt">
            <div class="icon">
                
                <img src="/static/img/default-logo.png">
                
            </div>
            <p>
                <strong>vesan / kippt</strong><br>
                <span>By Vesa Vänskä &middot; Library</span>
            <p>
        </a>
    </li>
    
</ul>
{% endblock %}