{% extends "base.html" %}
{% block bodyclass %}apps-gallery{% endblock %}
{% block body %}<h1>Apps Gallery</h1>
<p class="lead">This is where you’ll find a whole library of apps to boost your Kippt experience. <a href="https://github.com/kippt/developers.kippt.com#contribute-3rd-party-apps" target="_blank">Submit your own app.</a></p>

<ul class="row apps">
    
    <li class="span4">
        <a href="/apps/pocket">
            <div class="icon">
                
                <img src="/static/default-logo.png">
                
            </div>
            <p>
                <strong>Pocket</strong>, <span>iOS</span><br>
                <span>By Pocket</span>
            <p>
        </a>
    </li>
    
</ul>
{% endblock %}