<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Welcome{% endblock %} - Kippt Developers</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">   
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <script type="text/javascript" src="//use.typekit.net/rop5xco.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script> 
</head>

<body class="{% block bodyclass %}{% endblock%}" o>
    <div class="nav">
        <div class="container">
            <a href="/" class="logo"><img src="{{ url_for('static', filename='kippt-logo.png') }}" width="192"></a>
            <a href="/" class="back">‹ Back to Kippt</a>
        </div>  
        <div class="header">
            <h1>Developer</h1>
            <p>Documentation and Resources</p>
        </div>
    </div>
    
    <div class="container main">   
    
        <div class="row">
        
            <div class="span3 side">
                <ul>
                    <li><a href="/">Getting Started</a></li>
                    <li><a href="https://github.com/kippt/api-documentation" target="_blank">Documentation</a></li>
                    <li><a href="https://github.com/kippt" target="_blank">Resources</a></li>
                    <li><a href="/policy/">Terms &amp; Policy</a></li>
                    <li><a href="https://groups.google.com/forum/?fromgroups#!forum/kippt-developers" target="_blank">Mailing List</a></li>
                    <li></li>
                    <li><a href="/apps/">App Gallery</a></li>
                </ul>
            </div>
        
            <div class="span8 offset1 content">
                {% block body %}
                
                {% endblock %}
            </div>
            
        </div>

    </div>
    
    <div class="footer">
        <p>Kippt for Developers</p>
    </div>
</body>
</html>