{% extends 'base.html' %}
{% block bodyclass %}home{% endblock %}
{% block body %}

<h1>Welcome to the Kippt API</h1>

<p>Below you can find reference documentation and resources for the Kippt API.If you're planning to implement Kippt into your app, we would like to hear about you. Feedback and improvements are always welcome.</p>

<ul class="row docs">
    <li class="span4">
        <a href="https://github.com/kippt/api-documentation" target="_blank" class="api">
            <strong>Api Documentation</strong><br/>
            View on GitHub
        </a>
    </li>
    <li class="span4">
        <a href="https://github.com/kippt" target="_blank" class="code">
            <strong>Developer resources</strong><br/>
            Kippt's open source resources
        </a>
    </li>
</ul>

<hr>

<h2>API Mailing list</h2>

<p>If you use Kippt's API, we invite you to join our mailing list. It's used for communicating changes and answering questions related to the API. To contact us directly, email us at hello@kippt.com.</p>

<hr>

<h2>App showcase</h2>

<ul class="row apps">
    <li class="span4">
        <a href="#">
            <div class="icon">
                <img src="https://dl.dropbox.com/u/8355/256.png">
            </div>
            <p>
                <strong>Kippster</strong>, <span>iOS</span><br>
                <span>By Dev Developer</span>
            <p>
        </a>
    </li>
    <li class="span4">
        <a href="#">
            <div class="icon">
                <img src="https://dl.dropbox.com/u/8355/256.png">
            </div>
            <p>
                <strong>Feedleap</strong>, <span>iOS</span><br>
                <span>By Dev Developer</span>
            </p>
        </a>
    </li>
</ul>

<script type="text/javascript">
    $(document).ready(function(){
        $(window).bind('scroll',function(e){
            parallaxScroll();
        });
        function parallaxScroll(){
            var scrolledY = $(window).scrollTop();
            $('.header').css({
                'top' : (scrolledY*0.53)+"px",
                'opacity' : 1-(scrolledY/266)
            });
        }
    });
</script>

{% endblock %}