<div class="row app">
 
        {% if images.logo %}
        <div class="span2 icon">
            <img src="/static/apps/{{ slug }}/{{ images.logo }}">
        </div>
        {% endif %}
    
    <div class="span6">
        <h1>{{ name }}</h1>
        <p class="lead">Created by {{ developer }}</p>
    </div>
</div>
<hr>
<div class="row app">    
    
    <div class="span5">
        {{ description|safe }}
        
        {% if images.screenshots %}
        <h2>Screenshots</h2>
        <ul class="screenshots">
            {% for screenshot in images.screenshots %}
            <li><img src="/static/apps/{{ slug }}/{{ screenshot }}"></li>
            {% endfor %}
        </ul>
        {% endif %}
    </div> 

    <div class="span3">
    <table>
        {% if developer %}
        <tr>
            <th>Developer</th>
            <td>{{ developer }}</td>
        </tr>
        {% endif %}
        {% if platform %}
        <tr>
            <th>Platform</th>
            <td>{{ platform }}</td>
        </tr>
        {% endif %}
        {% if price %}
        <tr>
            <th>Price</th>
            <td>{{ price }}</td>
        </tr>
        {% endif %}
        {% if added %}
        <tr>
            <th>Added</th>
            <td>{{ added }}</td>
        </tr>
        {% endif %}
        {% if website %}
        <tr>
            <th>Website</th>
            <td><a href="{{ website }}" target="_blank">Visit</a></td>
        </tr>
        {% endif %}
        {% if twitter %}
        <tr>
            <th>Twitter</th>
            <td><a href="http://twitter.com/{{ twitter }}" target="_blank">{{ twitter }}</a></td>
        </tr>
        {% endif %}
        <tr>
            <td colspan="2"><a href="{{ link }}" class="btn">Get the App</a></td>
        </tr>
    </table>
    </div>
</div>

{% if images.screenshots %}
<div id="slider-wrapper" style="display:none">  
    <a href class="close">&times;</a>   
    <div id="slider-inner"></div>
</div>
{% endif %}
