{% extends "base.html" %}
{% block body %}
<div class="row app">
 
        
        <div class="span2 icon">
            <img src="/static/apps/klipps/icon.png">
        </div>
        
    
    <div class="span6">
        <h1>klipps</h1>
        <p class="lead">Created by raffael.me</p>
    </div>
</div>
<hr>
<div class="row app">    
    
    <div class="span5">
        <p>klipps is a kippt client for OS X. </p>
<p>Say Hello to klipps, possibly the best way to enjoy kippt on your Mac. With klipps you have a real application sitting in your Dock dedicated to your kippt library. Drag URLs from Safari, Mail or other sources to the Dock icon to add new links for later.
We have added several functions to better integrate kippt into the OS X environment you are used to. Enhanced browsing features, chromeless full screen reading, Sidebar toggling and more. Enjoy kippt like you did before.</p>
        
        
        <h2>Screenshots</h2>
        <ul class="screenshots">
            
            <li><img src="/static/apps/klipps/screenshot_1_en.jpg"></li>
            
            <li><img src="/static/apps/klipps/screenshot_2_en.jpg"></li>
            
            <li><img src="/static/apps/klipps/screenshot_3_en.jpg"></li>
            
        </ul>
        
    </div> 

    <div class="span3">
    <table>
        
        <tr>
            <th>Developer</th>
            <td>raffael.me</td>
        </tr>
        
        
        <tr>
            <th>Platform</th>
            <td>Desktop</td>
        </tr>
        
        
        <tr>
            <th>Price</th>
            <td>$0</td>
        </tr>
        
        
        <tr>
            <th>Added</th>
            <td>April 7. 2013</td>
        </tr>
        
        
        <tr>
            <th>Website</th>
            <td><a href="http://www.raffael.me/klipps/" target="_blank">Visit</a></td>
        </tr>
        
        
        <tr>
            <th>Twitter</th>
            <td><a href="http://twitter.com/@klippsapp" target="_blank">@klippsapp</a></td>
        </tr>
        
        <tr>
            <td colspan="2"><a href="http://www.raffael.me/klipps/" class="btn">Get the App</a></td>
        </tr>
    </table>
    </div>
</div>


<div id="slider-wrapper" style="display:none">  
    <a href class="close">&times;</a>   
    <div id="slider-inner"></div>
</div>

{% endblock %}