{% extends "base.html" %}
{% block body %}
<div class="row app">
 
        
        <div class="span2 icon">
            <img src="/static/apps/keep-it/logo.jpg">
        </div>
        
    
    <div class="span6">
        <h1>Keep-it</h1>
        <p class="lead">Created by Eric Taix</p>
    </div>
</div>
<hr>
<div class="row app">    
    
    <div class="span5">
        <p>Keep-it is a Kippt application for Android.</p>
<p>Kippt is the best way to collect, organize and share online information that’s important for you. Keep-it makes your Kippt bookmarks available on the go from your Android handset.</p>
<p>Available features:</p>
<ul>
<li>Browse your feed and lists (public/private and with or without collaborators).</li>
<li>Add new bookmarks from any application using the share feature of the Android platform</li>
<li>Add notes to your bookmarks.</li>
<li>Search.</li>
<li>Mark your clips as starred and/or read later.</li>
<li>Comment and like clips.</li>
<li>See all comments.</li>
<li>Read articles optimized for your screen.</li>
<li>Share links via any applicationTwitter, email, acebook, Read-it later, Pocket, …)</li>
<li>Save a feed clip to one of your list.</li>
</ul>
        
        
    </div> 

    <div class="span3">
    <table>
        
        <tr>
            <th>Developer</th>
            <td>Eric Taix</td>
        </tr>
        
        
        <tr>
            <th>Platform</th>
            <td>Android</td>
        </tr>
        
        
        <tr>
            <th>Price</th>
            <td>$2.52</td>
        </tr>
        
        
        <tr>
            <th>Added</th>
            <td>April 5. 2013</td>
        </tr>
        
        
        
        <tr>
            <td colspan="2"><a href="https://play.google.com/store/apps/details?id=com.jared.android.keepit" class="btn">Get the App</a></td>
        </tr>
    </table>
    </div>
</div>


{% endblock %}