{% extends "base.html" %}
{% block body %}
<div class="row app">
 
    <div class="span2 icon">
        
    </div>
    
    <div class="span6">
        <h1>kippt-tools</h1>
        <p class="lead">Created by Mario Rimann</p>
    </div>
</div>
<hr>
<div class="row app">    
    
    <div class="span5">
        <p>Scripts to backup your kippt.com bookmarks</p>
        
        
    </div> 

    <div class="span3">
    <table>
        
        <tr>
            <th>Developer</th>
            <td>Mario Rimann</td>
        </tr>
        
        
        <tr>
            <th>Platform</th>
            <td>Other</td>
        </tr>
        
        
        
        <tr>
            <th>Added</th>
            <td>April 5. 2013</td>
        </tr>
        
        
        
        <tr>
            <td colspan="2"><a href="https://github.com/mrimann/kippt-tools" class="btn">Get the App</a></td>
        </tr>
    </table>
    </div>
</div>

{% endblock %}