{% extends "base.html" %}
{% block body %}
<div class="row app">
 
        
        <div class="span2 icon">
            <img src="/static/apps/clipapp/clipapp_logo.png">
        </div>
        
    
    <div class="span6">
        <h1>clipApp</h1>
        <p class="lead">Created by Henning Molbaek</p>
    </div>
</div>
<hr>
<div class="row app">    
    
    <div class="span5">
        <p><strong> OS X Mountain Lion and Retina Display Ready </strong></p>
<p>If you use the social bookmark service kippt.com and own a Mac you are going to love clipApp.</p>
        
        
    </div> 

    <div class="span3">
    <table>
        
        <tr>
            <th>Developer</th>
            <td>Henning Molbaek</td>
        </tr>
        
        
        <tr>
            <th>Platform</th>
            <td>Desktop</td>
        </tr>
        
        
        <tr>
            <th>Price</th>
            <td>$5.99</td>
        </tr>
        
        
        <tr>
            <th>Added</th>
            <td>April 5. 2013</td>
        </tr>
        
        
        <tr>
            <th>Website</th>
            <td><a href="http://clipapp.net/" target="_blank">Visit</a></td>
        </tr>
        
        
        <tr>
            <th>Twitter</th>
            <td><a href="http://twitter.com/@clipAppMac" target="_blank">@clipAppMac</a></td>
        </tr>
        
        <tr>
            <td colspan="2"><a href="https://itunes.apple.com/app/clipapp-for-kippt/id573844772" class="btn">Get the App</a></td>
        </tr>
    </table>
    </div>
</div>


{% endblock %}