{% extends "base.html" %}
{% block body %}
<div class="row app">
 
        
        <div class="span2 icon">
            <img src="/static/apps/mr-reader/logo.png">
        </div>
        
    
    <div class="span6">
        <h1>Mr. Reader</h1>
        <p class="lead">Created by Oliver Fürniß</p>
    </div>
</div>
<hr>
<div class="row app">    
    
    <div class="span5">
        <p>Mr. Reader is a powerful RSS News Reader for your iPad that synchronizes with popular services:</p>
<ul>
<li>Feedly</li>
<li>BazQux Reader</li>
<li>Feedbin</li>
<li>FeedHQ</li>
<li>Feed Wrangler</li>
<li>Fever</li>
</ul>
        
        
    </div> 

    <div class="span3">
    <table>
        
        <tr>
            <th>Developer</th>
            <td>Oliver Fürniß</td>
        </tr>
        
        
        <tr>
            <th>Platform</th>
            <td>iOS</td>
        </tr>
        
        
        
        <tr>
            <th>Added</th>
            <td>August 15, 2013</td>
        </tr>
        
        
        <tr>
            <th>Website</th>
            <td><a href="http://www.curioustimes.de/mrreader/" target="_blank">Visit</a></td>
        </tr>
        
        
        <tr>
            <th>Twitter</th>
            <td><a href="http://twitter.com/@mrreaderapp" target="_blank">@mrreaderapp</a></td>
        </tr>
        
        <tr>
            <td colspan="2"><a href="http://www.itunes.com/apps/mrreader" class="btn">Get the App</a></td>
        </tr>
    </table>
    </div>
</div>


{% endblock %}