{% extends "base.html" %}
{% block body %}
<div class="row app">
 
    <div class="span2 icon">
        
    </div>
    
    <div class="span6">
        <h1>Keep</h1>
        <p class="lead">Created by Longoria Bros.</p>
    </div>
</div>
<hr>
<div class="row app">    
    
    <div class="span5">
        <p>Keep is a simple, task-focused app to help you save links to Kippt fast.</p>
        
        
    </div> 

    <div class="span3">
    <table>
        
        <tr>
            <th>Developer</th>
            <td>Longoria Bros.</td>
        </tr>
        
        
        <tr>
            <th>Platform</th>
            <td>iOS</td>
        </tr>
        
        
        <tr>
            <th>Price</th>
            <td>$0.99</td>
        </tr>
        
        
        <tr>
            <th>Added</th>
            <td>April 5. 2013</td>
        </tr>
        
        
        <tr>
            <th>Website</th>
            <td><a href="http://longoriabros.com/keep/" target="_blank">Visit</a></td>
        </tr>
        
        
        <tr>
            <td colspan="2"><a href="https://itunes.apple.com/us/app/keep/id541890431" class="btn">Get the App</a></td>
        </tr>
    </table>
    </div>
</div>

{% endblock %}