{% extends "base.html" %}
{% block body %}
<div class="row app">
 
        
    
    <div class="span6">
        <h1>omniauth-kippt</h1>
        <p class="lead">Created by Greg Leppert</p>
    </div>
</div>
<hr>
<div class="row app">    
    
    <div class="span5">
        <p>A Kippt.com authentication strategy for OmniAuth</p>
        
        
    </div> 

    <div class="span3">
    <table>
        
        <tr>
            <th>Developer</th>
            <td>Greg Leppert</td>
        </tr>
        
        
        <tr>
            <th>Platform</th>
            <td>Library</td>
        </tr>
        
        
        
        <tr>
            <th>Added</th>
            <td>April 5. 2013</td>
        </tr>
        
        
        
        <tr>
            <td colspan="2"><a href="https://github.com/leppert/omniauth-kippt" class="btn">Get the App</a></td>
        </tr>
    </table>
    </div>
</div>


{% endblock %}